<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>



</head>
<body>
<form action="Result" method="post">{% csrf_token %}

    <center><label for="srcbar">Search</label></center>

    <center><input type="text" name="q" id="srcbar" placeholder="Search" ></center>

    <center><button id="btn4" type="submit">Search</button></center>

    <center><label for="w3">Review of Search:</label></center>

    <center><textarea id="w3" cols="50" rows="5" ></textarea></center>
</form>




</body>
</html>